{%extends 'base.html'%}
{%block container%}

<h1>{{restaurant.name}}</h1>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#deleteRestaurant">
  Delete
</button>
<!-- Modal -->
<div  class="modal fade" id="deleteRestaurant" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteRestaurantTitle">Delete</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h4>Are you sure you want to delete {{restaurant.name}}?</h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">No</button>
        <form action='{{url_for('deleteRestaurant',restaurant_id = restaurant.id)}}' method='POST' >
          <button type="submit" class="btn btn-secondary">Yes</button>
      </form>
      </div>
    </div>
  </div>
</div>

{%endblock%}
