{%extends 'base.html'%}
{%block container%}
<h1 align='center'>{{restaurant.name}}</h1>
<h3>{{menuItem.name}} - {{menuItem.price}}<p>{{menuItem.description}}</p></h3>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#deleteMenuItem">
  Delete
</button>
<a href="/restaurant/{{restaurant.id}}/menu" class="btn btn-secondary my-2">Go Back</a>
<!-- Modal -->
<div  class="modal fade" id="deleteMenuItem" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteMenuItemTitle">Delete</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h4>Are you sure you want to delete {{menuItem.name}}?</h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-secondary">Yes</button>
      </div>
    </div>
  </div>
</div>

{%endblock%}
